@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased bg-slate-50 text-slate-800 selection:bg-teal-100;
    }
}

.typography-h1 {
    @apply text-5xl md:text-7xl font-black tracking-tighter leading-[0.9];
}

.typography-p {
    @apply text-lg md:text-xl leading-relaxed text-slate-600 font-medium;
}